<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Verify Login</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"  href="../static/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/saib.css}" href="../static/css/saib.css"/>
</head>
<body class = "verify-body">
<section class="h-100">
    <div class="container h-150">
        <div class="row justify-content-md-center h-150">
            <div class="card-wrapper verify-outer-card">
                <div class="card fat">
                    <div class="card-body">
                        <div class="row brand mb-5">
                            <div class="col text-center">
                                <img class="verify-logo" width="200" height="200"/>
                            </div>
                        </div>
                        <div class="row" th:if="${isIncorrectSecret}">
                            <div class="col text-center">
                                <p  class="badge badge-danger">Invalid Secret.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center">
                                <p class="badge badge-warning"><b>Your login is awaiting your authorization code</b></p>
                            </div>
                        </div>
                        <form th:action="@{/secure/two_factor_authentication}" method="post">

                            <div class="row mt-3">
                                <div class="col">
                                    <div class="form-group">

                                        <label for="secret">Please Enter Authorization code below</label>
                                        <input type="text" name="secret" id="secret" class="form-control"
                                               placeholder="Secret" required="true" autofocus="true"/>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-5">
                                <div class="col">
                                    <div class="form-group m-0">
                                        <button type="submit" class="btn btn-block">
                                            Verify Login
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>