<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/saib.css}" href="../static/css/saib.css"/>
</head>


<body class="login-body">

<section class="h-100">
    <div class="container h-150">
        <div class="row justify-content-md-center h-150">
            <div class="card-wrapper outer-card">
                <div class="card fat">
                    <div class="card-body">
                        <div class="brand mb-5">
                            <img class="login-logo" height="122" width="412"/>
                            <div class="row" th:if="${param.error}">
                                <div class="col text-center">
                                    <p class="badge badge-danger">There was an
                                        error, please try again</p>
                                </div>
                            </div>

                            <div class="row" th:if="${param.logout}">
                                <div class="col text-center">
                                    <p class="badge badge-danger">You have been logged
                                        out</p>
                                </div>
                            </div>
                        </div>
                        <form class="login-form" name="form" th:action="@{/login}"
                              action="/login" method="POST">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="email">User Name</label>
                                        <input id="email" type="username" class="form-control" name="username" value=""
                                               required
                                               autofocus>
                                        <div class="invalid-feedback">
                                            User Name is invalid
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col">
                                    <div class="form-group">

                                        <label for="password">Password</label>
                                        <input id="password" type="password" class="form-control" name="password"
                                               required
                                               data-eye>
                                        <div class="invalid-feedback">
                                            Password is required
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-5">
                                <div class="col">
                                    <div class="form-group m-0">
                                        <button type="submit" class="btn btn-block">
                                            Login
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>